<link rel="stylesheet" href="app/css/main.css">
<div ng-controller="gitIssuesMainCtrl as ctrl">
  <div class="container">
    <h2>Git Issues Checker</h2>
    <div class="userProfile">
      <div class="userPhoto">
        <img ng-src="">
      </div>
      <div class="userInfo">

      </div>
    </div>
    <input type="text" placeholder="name/repository" ng-model="ctrl.userName">
    <div class="searchBox">
      <input type="checkbox" class="allIssuesCheck" ng-model="ctrl.allIssuesCheckbox"><span class="spanIssuesAll">All Issues</span>
      <div class="free"></div>
      <button ng-click="ctrl.checkUser(ctrl.userName)" class="searchButton">Search</button>
    </div>
    <div ng-loader="loader" ng-loader-init="true"></div>
    <div class="message" ng-show="ctrl.messageShow">{{ctrl.message}}</div>
    <div class="repos">
      <div class="item" ng-repeat="repository in ctrl.reposArray" ng-click="ctrl.setCurrentRepo(repository)">
        {{repository}}
      </div>
    </div>
  </div>
  <div class="issues">
    <a href="#!issue" ng-click="ctrl.setItemToStorage(issue)" ng-repeat="issue in ctrl.issuesArray">
      <div class="block" >
        <div class="text">
              <span ng-class="ctrl.issueClass(issue.state)">{{issue.title}}</span><br>
              <div class="right">
                Date:{{issue.date}}<br>
                Number:{{issue.number}}
              </div>
        </div>
      </div>
    </a>
  </div>
</div>
