<link rel="stylesheet" href="app/css/main.css">
<div ng-controller="gitIssuesMainCtrl as ctrl">
  <div class="container">
    <h2>Git Issues Checker</h2>
    <input type="text" placeholder="name/repository" ng-model="ctrl.userName">
    <button ng-click="ctrl.checkUser(ctrl.userName)" class="searchButton">Search</button>
    <div ng-loader="loader" ng-loader-init="true"></div>
    <div class="message" ng-show="ctrl.messageShow">{{ctrl.message}}</div>
    <div class="repos">
      <div class="item" ng-repeat="repository in ctrl.reposArray" ng-click="ctrl.setCurrentRepo(repository)">
        {{repository}}
      </div>
    </div>
  </div>
  <div class="issues">
    <div class="block" ng-repeat="issue in ctrl.issuesArray">
      <div class="text">
            {{issue}}
      </div>
    </div>
  </div>
</div>
